scraped data/Webscrapped Drawings/
**/.ipynb_checkpoints
**/__pycache__

405_huron_rd_excel.xlsx
annex_mm_buildings.csv
annex_mm_buildings.xlsx

coa_webscraping.ipynb
coa_webscraper_v1.1.py
coa_webscraper_v1.2.py